@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}


body {
    width: 100%;
    height: 100vh;
    background-color: #06190C;
    overflow-x: hidden;
}

span {
    color: #00B53D;
}

#section1, #section2{
    color: white;
    text-align: center;
    margin-bottom: 10em;
}
#section1 h1, #section2 h1 {
    font-size: 60px;
    padding: 0 300px;
    margin-bottom: 2em;
}

#section1 .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 100px;
    text-align: start;
}
#section1 .container h2 {
    font-size: 40px;
}
#section1 .container p {
    font-size: 20px;
}

#section1 .item1, #section1 .item2, #section1 .item3 {
    position: relative;
}
#section1 .item1::before {
    content: url('/image/1.png');
    position: absolute;
    bottom: -50px;
    left: -70px;
    z-index: -1;
}


#section2 svg{
    padding: 0 200px;
}

#section2 #Ellipse {
    transition-duration: .3s;
}
#section2 #Ellipse:hover {
    fill: #ffffff;
}

@media (max-width: 992px) {
    #section1 h1, #section2 h1 {
        font-size: 40px;
        padding: 0 200px;
    }
    #section1 .container h2 {
        font-size: 40px;
    }
    #section1 .container p {
        font-size: 20px;
    }
    
}
@media (max-width: 768px) {
    #section1 {
        margin-bottom: 3em;
    }
    #section1 h1, #section2 h1 {
        font-size: 40px;
        padding: 0 100px;
    }
    #section1 .container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10em;
        padding: 100px;
    }
    #section1 .container h2 {
        font-size: 35px;
    }
    #section1 .container p {
        font-size: 17px;
    }

    #section2 svg{
        padding: 0 50px;
    }
}
@media (max-width: 576px) {
    #section1 h1, #section2 h1 {
        font-size: 30px;
        padding: 0 50px;
    }
    #section1 .container {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 10em;
        padding: 100px;
    }
    #section1 .container h2 {
        font-size: 30px;
    }
    #section1 .container p {
        font-size: 14px;
    }
}